:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --simple-white-text-color:#FFFFFF;
    --background-color-exception:#2196F3;
    --simple-black-text-color: #000000;
    --rare-background-color: #F5F4FA;
}

/* визначення основних кольорів тексту та фону */ 
body{
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* прибирання крапочок в ненумерованих списках */
.list {
    list-style: none;
}

/* оформлення логотипу */
.logo {
    color: var(--simple-black-text-color);
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-accent {
    color: var(--accent-color);
}

/* оформлення навігації */
.site-nav .link{
    color: var(--title-text-color);
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}


/* оформлення контактів */
.contacts .link{
    color: var(--primary-text-color);
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* оформлення героя */
.hero {
    background: #2F303A
}
.hero-title {
    color: var(--simple-white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* оформлення кнопки */
.button {
    background-color: var(--background-color-exception);
    color: var(--simple-white-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
    background-color: #188CE8;
}

/* оформлення заголовків секцій, які є однаковими */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* оформлення секціі Наші переваги */
.features-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/* оформлення прикладів робіт */


/* оформлення секціі Наша команда */
.section-team{
    background-color: var(--rare-background-color);
}
.team-item {
    color: var(--background-color);
}
.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team-position {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18; 
}

/* оформлення футера */
.footer {
    background: #2F303A
}
.footer .logo {
    color: var(--simple-white-text-color);
}

.address .supercription {
    color: var(--simple-white-text-color);
    text-decoration-line: none;
    font-style: normal;  
    font-size: 14px;
    line-height: 1.71;
}

.address .supercription:hover,
.address .supercription:focus {
    color: var(--accent-color);
}
.address .mail {
    color: var(--simple-white-text-color);
    text-decoration-line: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.address .mail:hover,
.address .mail:focus {
    color: var(--accent-color);
}

.address .tel {
    color: var(--simple-white-text-color);
    text-decoration-line: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.address .tel:hover,
.address .tel:focus {
    color: var(--accent-color);
}

/* оформлення Портфоліо */
.filter button {
    background-color: var(--rare-background-color);
    color: var(--title-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.filter button:hover,
.filter button:focus {
    background-color: var(--accent-color);
    color: var(--simple-white-text-color)
}

.portfolio {
    background-color: var(--background-color);
}

.portfolio-item {
    background-color: var(--background-color);
}
   
 .portfolio-caption {  
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-catego {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-link {
    text-decoration-line: none;
}